name: update blog-post-workflow
on:
  schedule: # 자동으로 워크플로우 실행
    - cron: "0 * * * *" # 매 시간마다 실행
  workflow_dispatch: # 수동으로 워크플로우 실행 가능 (GitHub Actions 페이지에서 직접 실행)

permissions:
  contents: write # 생성된 내용을 README 파일에 쓸 수 있도록 설정

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull in dev.to posts
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://v2.velog.io/rss/@dia218"
